body {
  background-image: url(Bilder/U20DM.png);
}
.h01_bp1 {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 5px;
  color: rgb(30, 58, 138);
}
.startbild {
  float: left;
}
#blogtext {
  padding-left: 10px;
}
.blogpost_1 {
  margin-bottom: 90px;
}
.p01_bp {
  text-align: right;
  color: grey;
  font-size: 0.65em;
  padding-top: 3vh;
  padding-bottom: 3vh;
}
#left, #right{
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 0.7em;
  background-color: rgb(220, 223, 226);
}
#frontimg_blog {
  width: auto;
  height: auto;
  margin-bottom: 15px;
}

#h03_sp {
  color: rgb(30, 58, 138);
}
.blogs_oktober, .blogs_januar {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: auto;
  scroll-snap-type: x proximity;
}

.blogposts_2_blogs {
  border: none;
  border-radius: 6%;
  margin-right: 1vw;
  overflow: hidden;
  width: 30vw; 
  font-size: 1em;
  -webkit-box-shadow: inset 0px -2px 5px -1px rgba(0, 0, 0, 0.25); 
  box-shadow: inset 0px -2px 5px -1px rgba(0, 0, 0, 0.25);
  background-color: rgb(233, 235, 321); /*Ändern*/
}
.blogposts_2_blogs tbody {
  height: 4vh;
}
.blogposts_2_blogs tfoot {
  height: 1vh;
}
.blogposts_2_blogs #blogdesc{
  height: 3vh;
 
}
#blogdescription {
  margin-left: 3vw;
  margin-right: 4vw;
}
.blogs_oktober a:hover, .blogs_januar a:hover{
 transition: 0.3s;
  font-size: 1.05em;
  cursor: pointer;
}
.blogs_oktober a:not(:hover), .blogs_januar a:not(:hover){
  transition: 0.3s;
   font-size: 1em;
 }
.blogs_oktober a, .blogs_januar a {
  text-decoration: none;
  color: #000000;
}
#startbild {
  max-height: 20vw;
 border-radius: 4%;
}
#blogtext_article {
  margin-right: 22%;
  font-size: 1.1em;
  line-height: 4vh;

}
#blogtext_title {
  font-size: 1.4em;
  color:rgb(30, 58, 168);
}

.scroll-container {
  display: flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex;
  flex-flow: row nowrap; 
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  background-color: rgba(135, 145, 158, .3);
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
  max-height: 40vh;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 3px;
  border: none;
}

.scroll-container img {
  padding: 10px;
  max-height: 40vh;
  width: auto;
}
#comment-section {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
}
@media screen and (max-width: 720px) {
  body {
    background-image: url(Bilder/U20DM.webp);
  }
  .h01_bp1 {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
    color: rgb(30, 58, 138);
  }
  .startbild {
    float: left;
  }
  #blogtext {
    padding-left: 10px;
  }
  .blogpost_1{
    padding-bottom: 10px;
    margin-bottom: 90px;
  }
  .p01_bp {
    text-align: right;
    color: grey;
    font-size: 0.65em;
  }
  #left, #right{
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: bold;
    opacity: 0.7em;
    background-color: rgb(220, 223, 226);
  }
  #frontimg_blog {
    width: auto;
    height: auto;
    margin-bottom: 15px;
  }
  
  #h03_sp {
    color: rgb(30, 58, 138);
  }
  .blogs_oktober, .blogs_januar {
    display: flex;
    flex-flow: row nowrap; 
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: auto;
    scroll-snap-type: x proximity;
  }
  
  .blogposts_2_blogs {
    border: none;
    border-radius: 6%;
    margin-right: 1vw;
    overflow: hidden;
    width: 80vw; 
    font-size: 1em;
    -webkit-box-shadow: inset 0px -2px 5px -1px rgba(0, 0, 0, 0.25); 
    box-shadow: inset 0px -2px 5px -1px rgba(0, 0, 0, 0.25);
    background-color: rgb(233, 235, 321); /*Ändern*/
  }
  .blogposts_2_blogs tbody {
    max-height: 30vh;
  }
  .blogposts_2_blogs tfoot {
    height: 10vh;
  }
  .blogposts_2_blogs #blogdesc{
    max-height: 30vh;
  }
  .blogs_oktober a:hover, .blogs_januar a:hover{
   transition: 0.3s;
    font-size: 1.05em;
    cursor: pointer;
  }
  .blogs_oktober a:not(:hover), .blogs_januar a:not(:hover){
    transition: 0.3s;
     font-size: 1em;
   }
  .blogs_oktober a, .blogs_januar a {
    text-decoration: none;
    color: #000000;
  }
  div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 2%;
    border: none;
  }
  
  div.scroll-container img {
    padding: 10px;
  }
}