@media screen and (max-width: 720px)  {
  .sponsors_img2_sponsors {
    margin-bottom: 7%;
  }
  #sponsors_text1 {
    margin-left: 16vw;
    margin-right: 16vw;
  }
}
body {
  background-image: url(Bilder/U20DM.jpg);
}

#h02_sponsors {
  text-align: center;
    display: inline-block;
    -webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    mask: linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%; /*Bessere Kompatibilität für Browser ohne Webkit*/
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
    font-size: 2em;
    border-radius:4%;
    max-width:200px;
    padding-right: 10px;
    color: rgb(255, 254, 254);
    background-color: rgba(0, 0, 0, 0.06);
}
 @keyframes shimmer {
    100% {-webkit-mask-position:left}
  } 
.sponsors_sponsors{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: baseline;
  column-gap: 2vw;
}
#sponsors_text1 {
  margin: 4vw 20vw 10vw 20vw;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  border: 3px solid #ffffff;
  border-radius: 20px;
  font-size: 1.1em;
  padding: 1.2vw 1.8vw 1.2vw 1.8vw;
}

.sponsors_img1_sponsors, .sponsors_img2_sponsors {
  max-width: 80%;
  max-height: auto; 
}
