* {
  font-family: 'Play', sans-serif;
  scroll-behavior: smooth;
  
}
body {
  background-color: #D0E4F5;
}
hr {
     height: 6px;
    background-image: linear-gradient(90deg, grey, transparent);
    
    border: 0;
    height: 1px;
}

/*Navigation*/

/* Versteckt die Links im Navigationsmenü */
.navigation {
  overflow: hidden;
  background-color: rgba(135, 145, 158, .3);
  position: relative;
  border: none;
  border-width: 25px;
}

.navigation #myLinks {
  display: none;
}



@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}
@keyframes rotateBack {
  from {transform: rotate(0deg);}
  to {transform: rotate(-180deg);}
}

@keyframes sizeUp {
  from {font-size: 1em;}
  to {font-size: 1.1em;}
}
@keyframes sizeDown {
  from {font-size: 1.1em;}
  to {font-size: 1em;}
}

/* Menü Links */
.navigation a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
#topnav, #downnav {
  font-size: 1em;
  transition: font-size 0.5s;
  -moz-transition:font-size 0.5s; /* Firefox 4 */
  -webkit-transition:font-size 0.5s; /* Safari and Chrome */
  -o-transition:font-size 0.5s
}
#topnav:hover, #downnav:hover {
  font-size: 1.1em
}

/* Das Icon des Menü */
.navigation a#icon {
  background: rgb(112, 112, 120, .3);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1em;
  text-shadow: 2px 2px black;
}

/* Add a grey background color on mouse-over */
.navigation a:hover {
  background-color: #8DA7BE;
}

/* Hintergrundbild */
.backimg_01 {
/* Das hinzufügen hiervon hat den Error gefixt */
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(2px);
  text-align: center;

  
}
/*Positioniert Frontartikelfoto zentriert */

/*Zur Positionierung der Icons*/
#ulPageIcons {
position: relative;
display: inline-flex;
flex-direction: row;
font-size: 3em;
transition: font-size 0.5s;
transition-timing-function: ease-in-out;

}
#liIcons1, #liIcons2, #liIcons3{
  text-align: center;
  display: inline-block;
  padding: 0px 100px;
  margin-bottom: 25%;
  font-size: 2em;

  }
.backimg_01 #ulPageIcons a, #h01_sp a {
  text-decoration:none;
  color:white;
  transition:0.5s;
  text-shadow: 2px 2px black;
}
.backimg_01 a:hover{
  color:#fff;
  font-size: 1.1em;
}
/*Überschriften*/
#h01_sp {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 10%;
}
#h03_sp, #h02_sp {
  margin-left: 5px;
}
  

/*Bilder allgemein*/
img {
  max-width: 100%;
  height: auto;
}
/*Profil Startseite*/

#profileimg {
  float: left;
  margin: 10px 50px 0px 30px;
  height: 220px;
}
.aboutme_p01{
  margin-top: 30px;

}
#break01{
  clear: left; /*Damit nächste Seitenabschnitte nicht neben Bild sind*/
}
#profpicdesc {
  clear:left;
  color: #818080;
  font-size: 0.8em;
  margin-left: 22px;
}
/*Bild Startseite*/
/*Stile für den Blogpost */
article#blogposts {
  border: none;
  border-radius: 13px;
  margin-right: 10px;
  margin-left: 5px;
  float: left;
  width: 27%;
  -webkit-box-shadow: inset 0px -2px 5px -1px rgba(37,37,37,0.16); 
  box-shadow: inset 0px -2px 5px -1px rgba(37,37,37,0.16);
  background-color: rgb(240, 255, 255); /*Ändern*/
}
#blogposts:hover{
  cursor: pointer;
}
.postfooter {
  display: flex;
  flex-wrap: row;
  justify-content: space-between;
}
.p01_bpsp {
  text-align: left;
  margin-left: 90px;
  margin-bottom: 10px;
  color: grey;
  font-size: 0.8em;
}
.p02_bpsp {
  text-align: right;
  color: grey;
  font-size: 0.65em;
  margin-bottom: 2px;
  margin-right: 10px;
}

div.blogposts_2 a {
  color: #dfebf1;
  text-decoration: none;
  font-weight: bold;
  margin-left: 130px;
  background-color: #3498db;
  padding: 4px 2.5px 2.5px 4px;
  border: none;
  border-radius: 8px;

}
div.blogposts_2 a:hover {
  font-size: 1.05em;
}
#blogtitle {
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}
#blogdescription {
  opacity: 0.8;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9em;
}
#frontimg {
  border-radius: 4px;
  height: 90%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


/* Artikel Startseite */
.p01_sp {
  text-align: right;
  color: grey;
  font-size: 0.65em;
}
/* Instagram*/
article#instagram {
  display: flex;
  justify-content: center;

}
/* Sponsoren Startseite */
.sponsors{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /*Ändern wenn es mehr Bilder
   werden, sorgt für keinen Zeilenumbruch*/
  justify-content: center;
}
.sponsors_img{
 padding: 5px;
 height: 80%
}
/* Footer */
#footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

#footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
}

#footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  font-size: 1em;
  
}

#footer .row a:hover{
  color:#fff;

}

#footer .row ul{
  width:100%;
}

#footer .row ul li{
  display:inline-block;
  margin:0px 30px;
}

#footer .row a i{
  font-size:2em;
  margin:0% 1%;
}

@media (max-width:720px){
#footer{
  text-align:left;
  padding:5%;
}
}
#footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
}
.row01 {
  font-size: 0.75em;
  text-align: left;
  margin-left: 10px;
}
.sponsors_img1 {
  transform: scale(0.7);
}